html{
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  background-image: url("https://static.vecteezy.com/ti/foto-gratuito/p2/1897039-colorato-blu-viola-e-bianco-bokeh-sfondo-gratuito-foto.jpg");
  margin: 0;
}
header{
  background: rgb(232,31,249);
background: radial-gradient(circle, rgba(232,31,249,1) 0%, rgba(66,8,242,1) 100%);
height:250px;


}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
padding-top: 60px;
margin: -8px auto;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 50px;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

}
.pokemon_container{
  padding-left: 45%;
  padding-top: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
}
input{
  border-radius: 4px;
  border: 2px solid black;
height: 30px;

}
.pokemon_container ul li{
  list-style: none;
}
.pokemon_container img{
  width: 150px;
}
